# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

File0.txt
File1.txt
File2.txt
File3.txt
File4.txt
File5.txt
File6.txt
File7.txt
test.txt
hello.txt

.vscode
.vs
x64
build